<div class="courseBox">
    <p style="text-decoration: underline;">Upcoming Courses:</p>
    <p><em>Coming Soon...</em></p>
</div>

<div class="courseBox" style="margin-top: 32px;">
    <p style="text-decoration: underline;">Past Courses:</p>
    {% for course in site.courses %}
        {% if course.pastCourse %}
        <a href="{{ course.url }}" style="display: block;">
            <div class="course">
                <p><em>{{ course.title }}</em></p>
                <p>Taught by {{ course.instructor }}</p>
                <p>{{ course.dateRange }}</p>
                <p>{{ course.location }}</p>
            </div>
        </a>
        {% endif %}
    {% endfor %}
</div>
