---
---

body,html{
    margin: 0px;
    padding: 0px;
    font-family: "eb-garamond", serif;
    font-size: 1em;

    a{
        text-decoration: none;
        color: black;
    }
}

#contentBox{
    margin-top: 64px;
    margin-left: 64px;
    margin-right: 64px;
}

header{
    h1{
        font-size: 1em;
        font-weight: normal;
        margin: 0px;
    }
    margin-bottom: 32px;

    .headerBox{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}

.courseBox{
    width: 40vw;
}

.course{
    cursor: pointer;
    width: 40vw;
   

    p{
        margin: 0px;
        padding: 0px;
    }

    a{
        
    }
    
}
.course:hover{
    p,a,em{
        color: grey;
    }
    
}

#info{
    a:hover {
        color: #ED3542;
    }  
}

#aboutBox{
    display: flex;
    justify-content: end;
    width: 100%;

    #aboutText{
        width: 30vw;
        text-align: right;
    }
    
    
}


/* Mobile styles */
@media (max-width: 600px) {
    body, html {
        font-size: 0.95em;
    }

    #contentBox{
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 16px;
        width: calc(100vw - 32px);
    }

    header{
        margin-bottom: 16px;
        h1{
            font-size: 1.2em;
        }
    }

    .course{
        width: 90vw;
    }
    .courseBox{
        width: 90vw;
    }
    #aboutBox{
        
    
        #aboutText{
            width: 90vw;
            text-align: left;
        }
        
        
    }

}

