<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://pdf-institute.com"/>
    <link rel="stylesheet" href="https://use.typekit.net/fmq4afm.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>P.D.F.</title>
    {% seo %}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-53XRHC8N3C"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-53XRHC8N3C');
</script>
<body>
    <div id="contentBox">
        {% include header.html %}
       <div id="aboutBox">

            <div id="aboutText">
                <p>P.D.F. is an experimental school that takes the syllabus seriously as a form unto itself.</p>

                <p> How can a syllabus choreograph study and sociality? How can it become a performance score, a carrier bag, a catalytic document? In the classroom, our inquiries gain vitality through engagement with people over time. (“In the classroom” means in-person—not always in a classroom.) We are committed to shared dialogue, and we understand experimentation, debate, documentation, découpé, and play to be crucial modes by which new ideas emerge.</p>
        
                <p>P.D.F. is inspired by a living lineage of collaborative study communities where “students are teachers are administrators are staff.” As such, PDF courses are experimental in form and rigorous in content; beyond that, they can be about almost anything. Each course follows a syllabus created by its instructor, and includes a self-published reader co-designed with P.D.F. administrators. Printed in editions equivalent to the size of each class, readers manifest, sustain, and document students’ engagement with the texts—which might include essays, poetry, fiction, artworks, films, performance and more. </p>
            
                <p>Together, we enact a recursive process: engagement with texts (broadly defined) creates the conditions for the introduction and production of more texts (broadly defined) that in turn become the basis for new publications, syllabi, and other as-yet imagined forms. </p>
                
                <p>P.D.F. is organized by <a href="https://bycalebstone.com/" target="_blank" style="text-decoration: underline;">Caleb Stone</a> and <a href="https://silasjones.net/home.html" target="_blank" style="text-decoration: underline;">Silas Jones</a></p>
            
                <p>Contact us at: <br>
                caleb (at) pdf-institute.com <br>
                silas (at) pdf-institute.com</p>
            </div>
        
        </div>
        
        
    </div>

    <script src="/assets/js/nameChanger.js"></script>

    <form action="https://buttondown.com/api/emails/embed-subscribe/PDF" method="post" class="embeddable-buttondown-form" id="newsletter-form">
        <label for="bd-email">Keep in touch</label>
        <div class="newsletter-input-row">
            <input type="email" name="email" id="bd-email" placeholder="your@email.com" required />
            <input type="submit" value="→" />
        </div>
    </form>

</body>
</html>
