<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/fmq4afm.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>P.D.F.</title>
    {% seo %}
</head>
<body>
    <div id="contentBox">
        <header>
            <a href="/."><h1>( P.D.F. )</h1></a>
        </header>

        {% for course in site.courses %}
            {% if course.activeCourse %}
            <a href="{{ course.url }}">
                <div class="course">
                    <p>Current Course: <em>{{ course.title }}</em></p>
                    <p>Taught by {{ course.instructor }}</p>
                    <p>{{ course.dateRange }}</p>
                    <p>{{ course.location }}</p>
                    {% if course.enrollmentStatus == true %}
                        <a href="{{ course.applicationLink}}" style="color: #69BF7C; text-decoration: underline;">Enrollment OPEN</a>
                    {% endif %}
                    {% if course.enrollmentStatus == false %}
                        <p style="color: #ED3542;">Enrollment CLOSED</p>
                    {% endif %}
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
    <script src="/assets/js/nameChanger.js"></script>
    
</body>
</html>